streamlit
groq
python-dotenv
mysql-connector-python
# SQLAlchemy
pypdf2
python-docx
pytesseract
Pillow
pdf2image
fastapi
uvicorn
python-multipart
boto3
httpx
# Add other database-specific drivers if aevan is not SQLite, e.g., psycopg2-binary for PostgreSQL
